* {
  box-sizing: border-box;
}

.counter-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f4f8;
  font-family: Arial, sans-serif;
}

.counter-card {
  background: #ffffff;
  padding: 2rem;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.counter-card h2 {
  margin-bottom: 1rem;
  color: #333;
}

.count {
  font-size: 3rem;
  font-weight: bold;
  color: #2563eb;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}
.input-style{
    margin: 2px;
    border: none;
    padding: 1rem;
    width:   200% ; 
    border-radius: 10px;
}
.btn {
  flex: 1;
  padding: 0.6rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
 }
 

.plus {
  background: #22c55e;
  color: white;
}

.plus:hover {
  background: #16a34a;
}

.minus {
  background: #ef4444;
  color: white;
}

.minus:hover {
  background: #dc2626;
}

.reset {
  background: #6b7280;
  color: white;
}

.reset:hover {
  background: #4b5563;
}
